<html>
    <head>
        <title>Shub blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Shub Blog</a></h1>
        </div>

        <div>
            <p>published: 06.03.2019, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Djano Sample to be tested.</p>
        </div>

        <div>
            <p>published: 06.03.2019, 02:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Tested Django Application to be developed.</p>
        </div>
    </body>
</html>